<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tosit.ssm.mapper.KaoqinRuleMapper">
  <resultMap id="BaseResultMap" type="com.tosit.ssm.entity.KaoqinRule">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ruleName" jdbcType="VARCHAR" property="rulename" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <resultMap id="KaoqinRuleAndDetailMap" type="com.tosit.ssm.entity.KaoqinRule" >
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ruleName" jdbcType="VARCHAR" property="rulename" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />

    <collection property="kaoqinRuleDetails" ofType="com.tosit.ssm.entity.KaoqinRuleDetail">
      <id column="krd_ID" jdbcType="VARCHAR" property="id" />
      <result column="krd_kaoqin_rule_id" jdbcType="VARCHAR" property="kaoqinRuleId" />
      <result column="krd_week_day" jdbcType="INTEGER" property="weekDay" />
      <result column="krd_date" jdbcType="DATE" property="date" />
      <result column="krd_brush_startTime1" jdbcType="TIME" property="brushStarttime1" />
      <result column="krd_brush_endTime1" jdbcType="TIME" property="brushEndtime1" />
      <result column="krd_time1_wucha" jdbcType="INTEGER" property="time1Wucha" />
      <result column="krd_brush_startTime2" jdbcType="TIME" property="brushStarttime2" />
      <result column="krd_brush_endTime2" jdbcType="TIME" property="brushEndtime2" />
      <result column="krd_time1_wucha2" jdbcType="INTEGER" property="time1Wucha2" />
      <result column="krd_brush_startTime3" jdbcType="TIME" property="brushStarttime3" />
      <result column="krd_brush_endTime3" jdbcType="TIME" property="brushEndtime3" />
      <result column="krd_time1_wucha3" jdbcType="INTEGER" property="time1Wucha3" />
      <result column="krd_brush_startTime4" jdbcType="TIME" property="brushStarttime4" />
      <result column="krd_brush_endTime4" jdbcType="TIME" property="brushEndtime4" />
      <result column="krd_time1_wucha4" jdbcType="INTEGER" property="time1Wucha4" />
      <result column="krd_remarks" jdbcType="VARCHAR" property="remarks" />
      <result column="krd_create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="krd_create_by" jdbcType="VARCHAR" property="createBy" />
      <result column="krd_update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="krd_update_by" jdbcType="VARCHAR" property="updateBy" />
      <result column="krd_is_del" jdbcType="INTEGER" property="isDel" />
      <result column="krd_brush_count" jdbcType="INTEGER" property="brushCount" />
      <result column="krd_is_youxiao" jdbcType="INTEGER" property="isYouxiao" />
      <result column="krd_col_1" jdbcType="VARCHAR" property="col1" />
      <result column="krd_col_2" jdbcType="VARCHAR" property="col2" />
      <result column="krd_col_3" jdbcType="VARCHAR" property="col3" />
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ruleName, remarks, rule_type, is_default, create_time, create_by, update_time, 
    update_by
  </sql>
  <!-- 包含考情结果详情的字段名 考勤详情表别名为“krd”-->
  <sql id="Base_Column_KaoqinDetails_List">
    krd.ID  'krd_ID',
    krd.kaoqin_rule_id 'krd_kaoqin_rule_id',
    krd.week_day 'krd_week_day',
    krd.date 'krd_date',
    krd.brush_startTime1 'krd_brush_startTime1',
    krd.brush_endTime1 'krd_brush_endTime1',
    krd.time1_wucha 'krd_time1_wucha',
    krd.brush_startTime2 'krd_brush_startTime2',
    krd.brush_endTime2 'krd_brush_endTime2',
    krd.time1_wucha2 'krd_time1_wucha2',
    krd.brush_startTime3 'krd_brush_startTime3',
    krd.brush_endTime3 'krd_brush_endTime3',
    krd.time1_wucha3 'krd_time1_wucha3',
    krd.brush_startTime4 'krd_brush_startTime4',
    krd.brush_endTime4 'krd_brush_endTime4',
    krd.time1_wucha4 'krd_time1_wucha4',
    krd.remarks 'krd_remarks',
    krd.create_time 'krd_create_time',
    krd.create_by 'krd_create_by',
    krd.update_time 'krd_update_time',
    krd.update_by 'krd_update_by',
    krd.is_del 'krd_is_del',
    krd.brush_count 'krd_brush_count',
    krd.is_youxiao 'krd_is_youxiao',
    krd.col_1 'krd_col_1',
    krd.col_2 'krd_col_2',
    krd.col_3 'krd_col_3'
  </sql>
  <!--<select id="selectByExample" parameterType="com.tosit.ssm.entity.KaoqinRuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kaoqin_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kaoqin_rule
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kaoqin_rule
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tosit.ssm.entity.KaoqinRuleExample">
    delete from kaoqin_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.tosit.ssm.entity.KaoqinRule">
    insert into kaoqin_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rulename != null">
        ruleName,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rulename != null">
        #{rulename,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tosit.ssm.entity.KaoqinRuleExample" resultType="java.lang.Long">
    select count(*) from kaoqin_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kaoqin_rule
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rulename != null">
        ruleName = #{record.rulename,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleType != null">
        rule_type = #{record.ruleType,jdbcType=INTEGER},
      </if>
      <if test="record.isDefault != null">
        is_default = #{record.isDefault,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kaoqin_rule
    set ID = #{record.id,jdbcType=VARCHAR},
      ruleName = #{record.rulename,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      rule_type = #{record.ruleType,jdbcType=INTEGER},
      is_default = #{record.isDefault,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tosit.ssm.entity.KaoqinRule">
    update kaoqin_rule
    <set>
      <if test="rulename != null">
        ruleName = #{rulename,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tosit.ssm.entity.KaoqinRule">
    update kaoqin_rule
    set ruleName = #{rulename,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      rule_type = #{ruleType,jdbcType=INTEGER},
      is_default = #{isDefault,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>-->
  <insert id="insert" parameterType="com.tosit.ssm.entity.KaoqinRule">
    insert into kaoqin_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rulename != null">
        ruleName,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isYouXiao != null">
        is_youxiao,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rulename != null">
        #{rulename,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isYouXiao != null">
        #{isYouXiao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tosit.ssm.entity.KaoqinRule">
    update kaoqin_rule
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rulename != null">
        ruleName = #{record.rulename,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleType != null">
        rule_type = #{record.ruleType,jdbcType=INTEGER},
      </if>
      <if test="record.isDefault != null">
        is_default = #{record.isDefault,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectRule" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kaoqin_rule
    WHERE is_youxiao = 1
    <if test="id != null">
      AND ID = #{id}
    </if>
  </select>
  <select id="selcetKaoqinRuleAndDetails" resultMap="KaoqinRuleAndDetailMap">
    SELECT  kr.ID,kr.ruleName,kr.remarks,kr.rule_type,kr.is_default,kr.create_time,kr.create_by,kr.update_time,kr.
    update_by, <include refid="Base_Column_KaoqinDetails_List"/>
    FROM kaoqin_rule kr
    LEFT JOIN kaoqin_rule_detail krd
    ON kr.ID = krd.kaoqin_rule_id
    WHERE krd.is_del=1 AND  kr.is_youxiao=1
  </select>
</mapper>