<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tosit.ssm.mapper.OfficeMapper">
  <resultMap id="BaseResultMap" type="com.tosit.ssm.entity.Office">
    <id column="ID" jdbcType="VARCHAR" property="id"/>
    <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="file_dir" jdbcType="VARCHAR" property="fileDir"/>
    <result column="icon" jdbcType="VARCHAR" property="icon"/>
    <result column="master" jdbcType="VARCHAR" property="master"/>
    <result column="office_type" jdbcType="INTEGER" property="officeType"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    <result column="sort" jdbcType="INTEGER" property="sort"/>
    <result column="col_1" jdbcType="VARCHAR" property="col1"/>
    <result column="col_2" jdbcType="VARCHAR" property="col2"/>
    <result column="col_3" jdbcType="VARCHAR" property="col3"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, parent_id, parent_ids, name, phone, file_dir, icon, master, office_type, create_time, 
    create_by, update_time, update_by, remarks, status, is_del, sort, col_1, col_2, col_3
  </sql>

  <select id="selectOfficeByManage" parameterType="string" resultMap="BaseResultMap">
    SELECT
      o.ID,o.parent_id,o.parent_ids,o.name,o.phone,o.file_dir,o.icon,o.master,o.office_type,o.create_time,o.create_by,o.update_time,o.update_by,o.remarks,o.status,o.is_del,o.sort,o.col_1,o.col_2,o.col_3
    FROM user_office uo
    LEFT JOIN office o
    ON uo.office_id = o.id
    WHERE uo.user_id = #{userId} AND  o.office_type = 3 AND uo.is_del = 1 AND o.is_del=1;
  </select>

  <select id="selectByExample" parameterType="com.tosit.ssm.entity.OfficeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from office
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from office
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectOfficeByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    o.*
    from office o LEFT JOIN user_office uo ON o.id = uo.office_id
    where uo.user_id = #{userId} AND uo.is_del = 1 AND o.is_del = 1 AND o.office_type = 3
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from office
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tosit.ssm.entity.OfficeExample">
    delete from office
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.tosit.ssm.entity.Office">
    insert into office (ID, parent_id, parent_ids,
      name, phone, file_dir,
      icon, master, office_type,
      create_time, create_by, update_time,
      update_by, remarks, status,
      is_del, sort, col_1,
      col_2, col_3)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{parentIds,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{fileDir,jdbcType=VARCHAR},
      #{icon,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR}, #{officeType,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{isDel,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{col1,jdbcType=VARCHAR},
      #{col2,jdbcType=VARCHAR}, #{col3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tosit.ssm.entity.Office">
    insert into office
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentIds != null">
        parent_ids,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fileDir != null">
        file_dir,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="master != null">
        master,
      </if>
      <if test="officeType != null">
        office_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="col1 != null">
        col_1,
      </if>
      <if test="col2 != null">
        col_2,
      </if>
      <if test="col3 != null">
        col_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fileDir != null">
        #{fileDir,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        #{master,jdbcType=VARCHAR},
      </if>
      <if test="officeType != null">
        #{officeType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="col1 != null">
        #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null">
        #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null">
        #{col3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="countByExample" parameterType="com.tosit.ssm.entity.OfficeExample" resultType="java.lang.Long">
    select count(*) from office
    <if test="_parameter != null">
    <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update office
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentIds != null">
        parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.fileDir != null">
        file_dir = #{record.fileDir,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.master != null">
        master = #{record.master,jdbcType=VARCHAR},
      </if>
      <if test="record.officeType != null">
        office_type = #{record.officeType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.col1 != null">
        col_1 = #{record.col1,jdbcType=VARCHAR},
      </if>
      <if test="record.col2 != null">
        col_2 = #{record.col2,jdbcType=VARCHAR},
      </if>
      <if test="record.col3 != null">
        col_3 = #{record.col3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update office
    set ID = #{record.id,jdbcType=VARCHAR},
    parent_id = #{record.parentId,jdbcType=VARCHAR},
    parent_ids = #{record.parentIds,jdbcType=VARCHAR},
    name = #{record.name,jdbcType=VARCHAR},
    phone = #{record.phone,jdbcType=VARCHAR},
    file_dir = #{record.fileDir,jdbcType=VARCHAR},
    icon = #{record.icon,jdbcType=VARCHAR},
    master = #{record.master,jdbcType=VARCHAR},
    office_type = #{record.officeType,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    create_by = #{record.createBy,jdbcType=VARCHAR},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    update_by = #{record.updateBy,jdbcType=VARCHAR},
    remarks = #{record.remarks,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=INTEGER},
    is_del = #{record.isDel,jdbcType=INTEGER},
    sort = #{record.sort,jdbcType=INTEGER},
    col_1 = #{record.col1,jdbcType=VARCHAR},
    col_2 = #{record.col2,jdbcType=VARCHAR},
    col_3 = #{record.col3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>






  <update id="updateByPrimaryKey" parameterType="com.tosit.ssm.entity.Office">
    update office
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fileDir != null">
        file_dir = #{fileDir,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        master = #{master,jdbcType=VARCHAR},
      </if>
      <if test="officeType != null">
        office_type = #{officeType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="col1 != null">
        col_1 = #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null">
        col_2 = #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null">
        col_3 = #{col3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insertOffice" parameterType="com.tosit.ssm.entity.Office">

    insert into office
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentIds != null">
        parent_ids,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fileDir != null">
        file_dir,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="master != null">
        master,
      </if>
      <if test="officeType != null">
        office_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="col1 != null">
        col_1,
      </if>
      <if test="col2 != null">
        col_2,
      </if>
      <if test="col3 != null">
        col_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fileDir != null">
        #{fileDir,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        #{master,jdbcType=VARCHAR},
      </if>
      <if test="officeType != null">
        #{officeType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="col1 != null">
        #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null">
        #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null">
        #{col3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectArea" resultMap="BaseResultMap" >
    select
      <include refid="Base_Column_List"/>
    from office
    WHERE is_del = 1
    AND (office_type = 1 OR  office_type = 2)
  </select>
  <select id="selectClassByDate" resultMap="BaseResultMap" parameterType="java.util.Date">
    SELECT
      <include refid="Base_Column_List"/>
    FROM office
    WHERE is_del = 1
    AND office_type = 3
    AND (create_time = #{createTime})

  </select>
  <select id="selectClassBySchool" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM office o1
    WHERE o1.is_del = 1
          AND  o1.office_type = 3
          AND o1.parent_id in (SELECT ID FROM office o WHERE o.office_type = 2 AND o.ID=#{schoolId})
  </select>
  <select id="selectClassByAreaId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
      <include refid="Base_Column_List"/>
    FROM office
    WHERE is_del = 1
          AND  office_type = 3
          AND parent_id in ( SELECT ID FROM office WHERE is_del=1 AND office_type=2 AND parent_id in (SELECT ID FROM office  WHERE is_del =1 AND office_type = 1 AND ID=#{areaId}))
  </select>
  <select id="selectGroupByClassId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM office
    WHERE is_del = 1
    AND  office_type = 4
    AND parent_id in (SELECT ID FROM office o WHERE o.office_type = 3 AND o.ID=#{classId})
  </select>
  <select id="selectOfficeByOfficeType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="Base_Column_List"/>
    FROM office
    WHERE is_del = 1
    AND  office_type = #{officeType}

  </select>
  <select id="selectOfficeByMasterAndSchool" resultMap="BaseResultMap" parameterType="com.tosit.ssm.entity.Office">

    SELECT
      o1.*
    FROM office o1
      LEFT JOIN office o2
        ON o1.parent_id = o2.ID
    WHERE o1.is_del=1 AND o1.office_type=3 AND o2.is_del =1 AND o2.office_type=2 AND o2.ID=#{id} AND o1.ID IN
     (SELECT office_id from user_office WHERE user_id = #{master});
  </select>
  <select id="selectOfficeByMasterAndDate" resultMap="BaseResultMap" parameterType="com.tosit.ssm.entity.Office">
    SELECT
    <include refid="Base_Column_List"/>
    FROM office
    WHERE is_del =1  AND office_type = 3 AND (create_time BETWEEN DATE_FORMAT(#{createTime},'%Y-%m-%d %H:%i:%s') AND DATE_FORMAT(#{updateTime},'%Y-%m-%d %H:%i:%s') )
    AND   ID IN (SELECT office_id from user_office WHERE user_id = #{master})
  </select>
  <select id="selectGroupByUserId" resultMap="BaseResultMap" parameterType="com.tosit.ssm.entity.Office">
    SELECT
    o.name
    FROM office o LEFT JOIN user_office uo ON o.id = uo.office_id
    WHERE o.is_del =1  AND uo.is_del = 1 AND user_id = #{userId} AND office_type = 4
  </select>

  <select id="selectAllArea" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from office
    WHERE is_del = 1
  </select>

  <select id="selectIdByParent" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM office WHERE parent_id=#{office.id};
  </select>

</mapper>