<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tosit.ssm.mapper.TeachingMapper">
  <resultMap id="BaseResultMap" type="com.tosit.ssm.entity.Teaching">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="planName" jdbcType="VARCHAR" property="planname" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="jishuzhuanye" jdbcType="VARCHAR" property="jishuzhuanye" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="check_marks" jdbcType="VARCHAR" property="checkMarks" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <resultMap id="SeBaseResultMap" type="com.tosit.ssm.entity.TeachingVO">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="planName" jdbcType="VARCHAR" property="planname" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="jishuzhuanye" jdbcType="VARCHAR" property="jishuzhuanye" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="check_marks" jdbcType="VARCHAR" property="checkMarks" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="officename" jdbcType="VARCHAR" property="officeName"/>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, parent_id, parent_ids, planName, remarks, type, start_time, end_time, jishuzhuanye, 
    create_time, create_by, update_time, update_by, check_user, check_time, check_marks, 
    check_status, is_del
  </sql>
  <select id="selectByExample" parameterType="com.tosit.ssm.entity.TeachingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teaching
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teaching
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from teaching
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tosit.ssm.entity.TeachingExample">
    delete from teaching
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tosit.ssm.entity.Teaching">
    insert into teaching (ID, parent_id, parent_ids, 
      planName, remarks, type, 
      start_time, end_time, jishuzhuanye, 
      create_time, create_by, update_time, 
      update_by, check_user, check_time, 
      check_marks, check_status, is_del
      )
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{parentIds,jdbcType=VARCHAR}, 
      #{planname,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{jishuzhuanye,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{checkUser,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{checkMarks,jdbcType=VARCHAR}, #{checkStatus,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tosit.ssm.entity.Teaching">
    insert into teaching
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentIds != null">
        parent_ids,
      </if>
      <if test="planname != null">
        planName,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="jishuzhuanye != null">
        jishuzhuanye,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="checkUser != null">
        check_user,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkMarks != null">
        check_marks,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="planname != null">
        #{planname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jishuzhuanye != null">
        #{jishuzhuanye,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="checkUser != null">
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkMarks != null">
        #{checkMarks,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tosit.ssm.entity.TeachingExample" resultType="java.lang.Long">
    select count(*) from teaching
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teaching
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentIds != null">
        parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      </if>
      <if test="record.planname != null">
        planName = #{record.planname,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jishuzhuanye != null">
        jishuzhuanye = #{record.jishuzhuanye,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.checkUser != null">
        check_user = #{record.checkUser,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null">
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkMarks != null">
        check_marks = #{record.checkMarks,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatus != null">
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teaching
    set ID = #{record.id,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      parent_ids = #{record.parentIds,jdbcType=VARCHAR},
      planName = #{record.planname,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      jishuzhuanye = #{record.jishuzhuanye,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      check_user = #{record.checkUser,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      check_marks = #{record.checkMarks,jdbcType=VARCHAR},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tosit.ssm.entity.Teaching">
    update teaching
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="planname != null">
        planName = #{planname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jishuzhuanye != null">
        jishuzhuanye = #{jishuzhuanye,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="checkUser != null">
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkMarks != null">
        check_marks = #{checkMarks,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <insert id="insertTeaching" parameterType="com.tosit.ssm.entity.Teaching">
    insert into teaching
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentIds != null">
        parent_ids,
      </if>
      <if test="planname != null">
        planName,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="jishuzhuanye != null">
        jishuzhuanye,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="checkUser != null">
        check_user,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkMarks != null">
        check_marks,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="planname != null">
        #{planname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jishuzhuanye != null">
        #{jishuzhuanye,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="checkUser != null">
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkMarks != null">
        #{checkMarks,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tosit.ssm.entity.Teaching">
    update teaching
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null">
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="planname != null">
        planName = #{planname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jishuzhuanye != null">
        jishuzhuanye = #{jishuzhuanye,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="checkUser != null">
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkMarks != null">
        check_marks = #{checkMarks,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectTeachingByClass" parameterType="string" resultMap="BaseResultMap">
    SELECT t.* FROM teaching t LEFT JOIN teaching_office tf
    ON t.id = tf.teaching_id
    WHERE office_id = #{officeId} AND t.type = 1 AND t.is_del = 1 AND tf.is_del = 1
  </select>
  <select id="selectJieduanByTeaching" parameterType="string" resultMap="BaseResultMap">
    SELECT t2.* FROM teaching t1 LEFT JOIN teaching t2
    ON t1.id = t2.parent_id
    WHERE t1.id = #{teachingId} AND t1.type = 1 AND t2.type = 2 AND t1.is_del = 1 AND t2.is_del = 1
  </select>
  <select id="selectRenwuByJieduan" parameterType="string" resultMap="BaseResultMap">
    SELECT t3.* FROM teaching t2 LEFT JOIN teaching t3
    ON t2.id = t3.parent_id
    WHERE t2.id = #{teachingId} AND t2.type = 2 AND t3.type = 3 AND t2.is_del = 1 AND t3.is_del = 1
  </select>
  <select id="selectTeachingByUserId" parameterType="string" resultMap="SeBaseResultMap">
    SELECT o.name'officename',t.* FROM user_office uo LEFT JOIN office o
    ON uo.office_id = o.id LEFT JOIN teaching_office tf ON o.id = tf.office_id LEFT JOIN teaching t ON t.id = tf.teaching_id
    WHERE uo.user_id = #{userId} AND o.office_type = 3
    AND o.is_del = 1 AND  uo.is_del = 1 AND tf.is_del = 1 AND t.is_del = 1
  </select>
  <select id="selectJieduanByUserIdByTeaching" parameterType="string" resultMap="BaseResultMap">
    SELECT t2.* FROM teaching t1 LEFT JOIN teaching t2
    ON t1.id = t2.parent_id
    WHERE t1.id IN

    (SELECT t.id FROM teaching t LEFT JOIN teaching_office tf
    ON t.id = tf.teaching_id
    WHERE office_id IN
    (SELECT uo.office_id FROM user_office uo LEFT JOIN office o
    ON uo.office_id = o.id
    WHERE uo.user_id = #{userId} AND o.office_type = 3
    AND o.is_del = 1 AND  uo.is_del = 1)
    AND t.type = 1 AND t.is_del = 1 AND tf.is_del = 1)

    AND t1.type = 1 AND t2.type = 2 AND t1.is_del = 1 AND t2.is_del = 1


  </select>

  <select id="selectRenwuByUserIdByJieduan" parameterType="string" resultMap="BaseResultMap">
    SELECT t3.* FROM teaching t2 LEFT JOIN teaching t3
    ON t2.id = t3.parent_id
    WHERE t2.id IN

    (SELECT t2.id FROM teaching t1 LEFT JOIN teaching t2
    ON t1.id = t2.parent_id
    WHERE t1.id IN

    (SELECT t.id FROM teaching t LEFT JOIN teaching_office tf
    ON t.id = tf.teaching_id
    WHERE office_id IN
    (SELECT uo.office_id FROM user_office uo LEFT JOIN office o
    ON uo.office_id = o.id
    WHERE uo.user_id = #{userId} AND o.office_type = 3
    AND o.is_del = 1 AND  uo.is_del = 1)
    AND t.type = 1 AND t.is_del = 1 AND tf.is_del = 1)

    AND t1.type = 1 AND t2.type = 2 AND t1.is_del = 1 AND t2.is_del = 1)

    AND t2.type = 2 AND t3.type = 3 AND t2.is_del = 1 AND t3.is_del = 1

  </select>


</mapper>