<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tosit.ssm.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.tosit.ssm.entity.User">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="niName" jdbcType="VARCHAR" property="niname" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="personNo" jdbcType="VARCHAR" property="personno" />
    <result column="daXue" jdbcType="VARCHAR" property="daxue" />
    <result column="daXue_address" jdbcType="VARCHAR" property="daxueAddress" />
    <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="stu_number" jdbcType="VARCHAR" property="stuNumber" />
    <result column="daxue_zhuanye" jdbcType="VARCHAR" property="daxueZhuanye" />
    <result column="shixun_zhuanye" jdbcType="VARCHAR" property="shixunZhuanye" />
    <result column="peixun_zhuanye" jdbcType="VARCHAR" property="peixunZhuanye" />
    <result column="phone1" jdbcType="VARCHAR" property="phone1" />
    <result column="phone2" jdbcType="VARCHAR" property="phone2" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="kaoqin_code" jdbcType="VARCHAR" property="kaoqinCode" />
    <result column="kaoqin_ruleID" jdbcType="VARCHAR" property="kaoqinRuleid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="last_logintime" jdbcType="TIMESTAMP" property="lastLogintime" />
    <result column="loat_longin_ip" jdbcType="VARCHAR" property="loatLonginIp" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="cut_grade" jdbcType="VARCHAR" property="cutGrade" />
    <result column="col_3" jdbcType="VARCHAR" property="col3" />
  </resultMap>

  <resultMap id="VOResultMap" type="com.tosit.ssm.entity.UserVO">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result property="GroupId" jdbcType="VARCHAR" column="groupId"/>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    u.ID, u.loginName, u.password, u.salt, u.name, u.niName, u.sex, u.personNo, u.daXue, u.daXue_address,
    u.home_address, u.stu_number, u.daxue_zhuanye, u.shixun_zhuanye, u.peixun_zhuanye, u.phone1,
    u.phone2, u.photo, u.QQ, u.weixin, u.email, u.user_type, u.kaoqin_code, u.kaoqin_ruleID, u.status,
    u.create_time, u.create_by, u.update_time, u.update_by, u.last_logintime, u.loat_longin_ip, u.remarks,
    u.is_del, u.sort, u.grade, u.cut_grade, u.col_3
  </sql>
  <select id="selectUserByOfficeId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
       <include refid="Base_Column_List"/>
    FROM user_office uo
    LEFT JOIN `user` u
    ON uo.user_id = u.ID
    WHERE uo.office_id = #{id} AND u.user_type=4 AND uo.is_del=1 AND u.is_del=1;
  </select>

  <select id="selectByExample" parameterType="com.tosit.ssm.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tosit.ssm.entity.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tosit.ssm.entity.User">
    insert into user (ID, loginName, password, 
      salt, name, niName, 
      sex, personNo, daXue, 
      daXue_address, home_address, stu_number, 
      daxue_zhuanye, shixun_zhuanye, peixun_zhuanye, 
      phone1, phone2, photo, 
      QQ, weixin, email, 
      user_type, kaoqin_code, kaoqin_ruleID, 
      status, create_time, create_by, 
      update_time, update_by, last_logintime, 
      loat_longin_ip, remarks, is_del, 
      sort, grade, cut_grade, 
      col_3)
    values (#{id,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{niname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{personno,jdbcType=VARCHAR}, #{daxue,jdbcType=VARCHAR}, 
      #{daxueAddress,jdbcType=VARCHAR}, #{homeAddress,jdbcType=VARCHAR}, #{stuNumber,jdbcType=VARCHAR}, 
      #{daxueZhuanye,jdbcType=VARCHAR}, #{shixunZhuanye,jdbcType=VARCHAR}, #{peixunZhuanye,jdbcType=VARCHAR}, 
      #{phone1,jdbcType=VARCHAR}, #{phone2,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{kaoqinCode,jdbcType=VARCHAR}, #{kaoqinRuleid,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{lastLogintime,jdbcType=TIMESTAMP}, 
      #{loatLonginIp,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, #{cutGrade,jdbcType=VARCHAR}, 
      #{col3,jdbcType=VARCHAR})
  </insert>

  <select id="countByExample" parameterType="com.tosit.ssm.entity.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.loginname != null">
        loginName = #{record.loginname,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null">
        salt = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.niname != null">
        niName = #{record.niname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.personno != null">
        personNo = #{record.personno,jdbcType=VARCHAR},
      </if>
      <if test="record.daxue != null">
        daXue = #{record.daxue,jdbcType=VARCHAR},
      </if>
      <if test="record.daxueAddress != null">
        daXue_address = #{record.daxueAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.homeAddress != null">
        home_address = #{record.homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.stuNumber != null">
        stu_number = #{record.stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.daxueZhuanye != null">
        daxue_zhuanye = #{record.daxueZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="record.shixunZhuanye != null">
        shixun_zhuanye = #{record.shixunZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="record.peixunZhuanye != null">
        peixun_zhuanye = #{record.peixunZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="record.phone1 != null">
        phone1 = #{record.phone1,jdbcType=VARCHAR},
      </if>
      <if test="record.phone2 != null">
        phone2 = #{record.phone2,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.kaoqinCode != null">
        kaoqin_code = #{record.kaoqinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.kaoqinRuleid != null">
        kaoqin_ruleID = #{record.kaoqinRuleid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLogintime != null">
        last_logintime = #{record.lastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loatLonginIp != null">
        loat_longin_ip = #{record.loatLonginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.cutGrade != null">
        cut_grade = #{record.cutGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.col3 != null">
        col_3 = #{record.col3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set ID = #{record.id,jdbcType=VARCHAR},
      loginName = #{record.loginname,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      salt = #{record.salt,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      niName = #{record.niname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=CHAR},
      personNo = #{record.personno,jdbcType=VARCHAR},
      daXue = #{record.daxue,jdbcType=VARCHAR},
      daXue_address = #{record.daxueAddress,jdbcType=VARCHAR},
      home_address = #{record.homeAddress,jdbcType=VARCHAR},
      stu_number = #{record.stuNumber,jdbcType=VARCHAR},
      daxue_zhuanye = #{record.daxueZhuanye,jdbcType=VARCHAR},
      shixun_zhuanye = #{record.shixunZhuanye,jdbcType=VARCHAR},
      peixun_zhuanye = #{record.peixunZhuanye,jdbcType=VARCHAR},
      phone1 = #{record.phone1,jdbcType=VARCHAR},
      phone2 = #{record.phone2,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      kaoqin_code = #{record.kaoqinCode,jdbcType=VARCHAR},
      kaoqin_ruleID = #{record.kaoqinRuleid,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      last_logintime = #{record.lastLogintime,jdbcType=TIMESTAMP},
      loat_longin_ip = #{record.loatLonginIp,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=VARCHAR},
      cut_grade = #{record.cutGrade,jdbcType=VARCHAR},
      col_3 = #{record.col3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>






  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user u
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <update id="updateByPrimaryKey" parameterType="com.tosit.ssm.entity.User">
    update user
    <set>
      <if test="loginname != null">
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="niname != null">
        niName = #{niname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="personno != null">
        personNo = #{personno,jdbcType=VARCHAR},
      </if>
      <if test="daxue != null">
        daXue = #{daxue,jdbcType=VARCHAR},
      </if>
      <if test="daxueAddress != null">
        daXue_address = #{daxueAddress,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null">
        home_address = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        stu_number = #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="daxueZhuanye != null">
        daxue_zhuanye = #{daxueZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="shixunZhuanye != null">
        shixun_zhuanye = #{shixunZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="peixunZhuanye != null">
        peixun_zhuanye = #{peixunZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null">
        phone1 = #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null">
        phone2 = #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="kaoqinCode != null">
        kaoqin_code = #{kaoqinCode,jdbcType=VARCHAR},
      </if>
      <if test="kaoqinRuleid != null">
        kaoqin_ruleID = #{kaoqinRuleid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastLogintime != null">
        last_logintime = #{lastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="loatLonginIp != null">
        loat_longin_ip = #{loatLonginIp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="cutGrade != null">
        cut_grade = #{cutGrade,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null">
        col_3 = #{col3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insertUser" parameterType="com.tosit.ssm.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginname != null">
        loginName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="niname != null">
        niName,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="personno != null">
        personNo,
      </if>
      <if test="daxue != null">
        daXue,
      </if>
      <if test="daxueAddress != null">
        daXue_address,
      </if>
      <if test="homeAddress != null">
        home_address,
      </if>
      <if test="stuNumber != null">
        stu_number,
      </if>
      <if test="daxueZhuanye != null">
        daxue_zhuanye,
      </if>
      <if test="shixunZhuanye != null">
        shixun_zhuanye,
      </if>
      <if test="peixunZhuanye != null">
        peixun_zhuanye,
      </if>
      <if test="phone1 != null">
        phone1,
      </if>
      <if test="phone2 != null">
        phone2,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="kaoqinCode != null">
        kaoqin_code,
      </if>
      <if test="kaoqinRuleid != null">
        kaoqin_ruleID,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="lastLogintime != null">
        last_logintime,
      </if>
      <if test="loatLonginIp != null">
        loat_longin_ip,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="cutGrade != null">
        cut_grade,
      </if>
      <if test="col3 != null">
        col_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="niname != null">
        #{niname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="personno != null">
        #{personno,jdbcType=VARCHAR},
      </if>
      <if test="daxue != null">
        #{daxue,jdbcType=VARCHAR},
      </if>
      <if test="daxueAddress != null">
        #{daxueAddress,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="daxueZhuanye != null">
        #{daxueZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="shixunZhuanye != null">
        #{shixunZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="peixunZhuanye != null">
        #{peixunZhuanye,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null">
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null">
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="kaoqinCode != null">
        #{kaoqinCode,jdbcType=VARCHAR},
      </if>
      <if test="kaoqinRuleid != null">
        #{kaoqinRuleid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastLogintime != null">
        #{lastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="loatLonginIp != null">
        #{loatLonginIp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="cutGrade != null">
        #{cutGrade,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null">
        #{col3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <select id="selectByClassAndKRule"  resultMap="BaseResultMap">
SELECT
    <include refid="Base_Column_List" />
    from user u
  WHERE u.id NOT in(
   ( select us.id from user us
    JOIN user_office uo
    on us.id =uo.user_id
    JOIN office f
    on uo.office_id =f.id where f.office_type = 3 and us.is_del=1 and f.is_del= 1 and uo.is_del=1)) and us.kaoqin_ruleID is  null and
    u.is_del=0 AND u.user_type = 4;
  </select>



  <select id="selectNoGuize" parameterType="com.tosit.ssm.entity.User" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user u
    JOIN user_office uo
    ON u.ID = uo.user_id
    WHERE uo.office_id = #{id} AND u.user_type=4 AND u.kaoqin_ruleID IS NULL ;
  </select>


  <select id="selectChidaoBeforToday" parameterType="com.tosit.ssm.entity.User" resultMap="BaseResultMap">
  SELECT
  <include refid="Base_Column_List"/>
  FROM user u WHERE ID IN (
  SELECT uo.user_id FROM user_office uo
  LEFT JOIN kaoqin_result kr
  ON kr.user_id=uo.user_id
  WHERE kr.status=0 AND uo.office_id = #{id} AND kr.is_del=1 AND uo.is_del=1 )AND is_del=1 AND u.user_type=4;
  </select>

  <select id="selectKaoqinOrShensu" parameterType="string" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u WHERE ID IN (
    SELECT uo.user_id FROM user_office uo
    LEFT JOIN kaoqin_result kr
    ON kr.user_id = uo.user_id
    WHERE
    (kr.kaoqin_remark_type=1 AND kr.kaoqin_remark_status  )
    OR
    kr.kaoqin_shenshu_status is not null
    AND uo.office_id = #{id} AND kr.is_del=1) AND is_del=1 AND u.user_type=4;
  </select>


  <select id="selectByClassGroup" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{office.id} and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4 and u.id not in
     (SELECT
    uu.id   FROM user uu join user_office uoo on uu.id=uoo.user_id
    join   office ff on uoo.office_id=ff.id where ff.parent_id=#{office.id} and ff.is_del=1 and uu.is_del=1 and uoo.is_del=1 AND uu.user_type=4)
  </select>

  <select id="selectByClass" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{office.id} and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4
  </select>

  <select id="selectByGroup" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{office.id} and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4
  </select>

  <select id="selectByTimeAreaNClass" parameterType="map" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{office.id}
    and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4
     and  u.create_time >= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i:%s')
       and DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%s')  >= u.create_time
     and u.id not in(
    SELECT
    uu.id   FROM user uu join user_office uoo on uu.id=uoo.user_id
    join   office ff on uoo.office_id=ff.id where ff.office_type=3 and ff.is_del=1 and uu.is_del=1 and uoo.is_del=1 AND uu.user_type=4
    )
     </select>

  <select id="selectByAreaNClass" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
     SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{office.id} and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4 and u.id not in(
    SELECT
    uu.id   FROM user uu join user_office uoo on uu.id=uoo.user_id
    join   office ff on uoo.office_id=ff.id where ff.office_type=3 and ff.is_del=1 and uu.is_del=1 and uoo.is_del=1
    )
  </select>


  <select id="selectByClassNGH" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
      u.ID, loginName, u.password, u.salt, u.name, u.niName, u.sex, u.personNo, u.daXue, u.daXue_address,
      u.home_address, u.stu_number, u.daxue_zhuanye, u.shixun_zhuanye, u.peixun_zhuanye, u.phone1,
      u.phone2, u.photo, u.QQ, u.weixin, u.email, u.user_type, u.kaoqin_code, u.kaoqin_ruleID,u.status,
      u.create_time, u.create_by, u.update_time, u.update_by, u.last_logintime, u.loat_longin_ip, u.remarks,
      u.is_del, u.sort, u.grade, u.cut_grade, u.col_3
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{id}
    and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4
    and u.kaoqin_code is null
  </select>

  <select id="selectByClassChecking" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where f.id=#{office.id}
    and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4
    and u.kaoqin_ruleID is not null
  </select>

  <select id="selectByNClassChecking" parameterType="com.tosit.ssm.entity.KaoqinRule" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM user u join user_office uo on u.id=uo.user_id
    join   office f on uo.office_id=f.id where u.kaoqin_ruleID=#{kaoqinRule.id}
    and f.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4
    and u.id  not in
    (
    SELECT
    uu.id   FROM user uu join user_office uoo on uu.id=uoo.user_id
    join   office ff on uoo.office_id=ff.id where ff.office_type=3 and ff.is_del=1 and uu.is_del=1 and uoo.is_del=1
    )
  </select>

  <select id="selectUsersWithGroup" parameterType="com.tosit.ssm.entity.Office" resultMap="VOResultMap">
    SELECT u.ID,u.name,o.ID `groupId`
FROM user u JOIN user_office uo ON u.ID=uo.user_id
  JOIN office o ON uo.office_id=o.ID
WHERE o.parent_id = #{office.id} and o.is_del=1 and u.is_del=1 and uo.is_del=1 AND u.user_type=4;
  </select>

  <select id="selectAllTeacherNoThisClass" parameterType="com.tosit.ssm.entity.Office" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user u WHERE u.user_type=3 AND u.is_del=1 AND u.ID NOT IN (
    SELECT uo.user_id FROM user_office uo WHERE uo.office_id = #{office.id}
);
  </select>

</mapper>